---
BasedOnStyle: LLVM
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 80
AlignOperands: false
AlignAfterOpenBracket: AlwaysBreak
IncludeBlocks: Regroup
AlignEscapedNewlines: DontAlign
IndentCaseLabels: true
BinPackArguments: false
BinPackParameters: false
